@font-face {
  font-family: "TrixiecyrPlain";
  font-weight: 400;
  font-style: normal;
  src: local("Trixiecyr Plain"), local("Trixiecyr-Plain"), local("TrixiecyrPlain"), url(../Fonts/Trixiecyr_plain.woff2) format("woff2"), url(../Fonts/Trixiecyr_plain.woff) format("woff"), url(../Fonts/Trixiecyr_plain.eot) format("eot"), url(../Fonts/trixiecyr_plain.ttf) format("truetype");
  font-display: swap;
}
