@font-face {
  font-family: "B52";
  font-weight: 400;
  font-style: normal;
  src: local("B52"), url(../Fonts/AnyConv.com__B52.woff2) format("woff2"), url(../Fonts/AnyConv.com__B52.woff) format("woff"), url(../Fonts/AnyConv.com__B52.eot) format("eot"), url(../Fonts/B52.ttf) format("truetype");
  font-display: swap;
}
