@import url(./style/fonts.css);
@import url(./style/reset.css);

html, body {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 2424px;
  background: #a4886b;
}
html .wraper, body .wraper {
  background-image: url(../style/img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html .wraper .background, body .wraper .background {
  opacity: 0;
}
html .wraper .header, body .wraper .header {
  position: absolute;
  padding: 3% 3% 0% 2%;
  width: 100%;
  max-width: 1588px;
  height: 1977px;
  display: flex;
  justify-content: center;
}
html .wraper .header .nav, body .wraper .header .nav {
  position: sticky;
  top: 0%;
  left: 0%;
  width: 100%;
  max-width: 60px;
  height: 770px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5% 0% 0% 1%;
}
html .wraper .header .nav .btn, body .wraper .header .nav .btn {
  width: 190px;
  height: 60px;
  transform: rotate(-90deg);
  background: #E46D65;
  border: 3px solid #1A1A1A;
  border-radius: 30px 30px 0px 0px;
  filter: drop-shadow(0px -15px 15px rgba(0, 0, 0, 0.5));
  font-family: B52;
  font-size: 32px;
  text-align: center;
  top: 3.88%;
  left: 8%;
  padding-top: 13%;
}
html .wraper .header .nav .dossier_btn, body .wraper .header .nav .dossier_btn {
  position: relative;
  z-index: 2;
}
html .wraper .header .nav .dossier_btn:hover, body .wraper .header .nav .dossier_btn:hover {
  background: #E4C165;
  margin-left: -5px;
  transition: 0.2s;
}
html .wraper .header .nav .portfolio_btn, body .wraper .header .nav .portfolio_btn {
  position: relative;
  z-index: 3;
  top: 21%;
}
html .wraper .header .nav .portfolio_btn:hover, body .wraper .header .nav .portfolio_btn:hover {
  background: #E4C165;
  margin-left: -5px;
  transition: 0.2s;
}
html .wraper .header .nav .contacts_btn, body .wraper .header .nav .contacts_btn {
  height: 60px;
  position: relative;
  margin-left: -4px;
  z-index: 5;
  background: #96C174;
  top: 38.5%;
}
html .wraper .header .nav .contacts_btn:hover, body .wraper .header .nav .contacts_btn:hover {
  box-shadow: 0px 0px 10px 0px #1A1A1A inset;
  transition: 0.2s;
}
html .wraper .header .dossier, body .wraper .header .dossier {
  background-image: url(../style/img/back_paper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 4;
  width: 100%;
  max-width: 1500px;
  height: 1976px;
  border: 3px solid #1A1A1A;
  filter: drop-shadow(0px 0px 15px #000);
}
html .wraper .header .dossier .contact_span, body .wraper .header .dossier .contact_span {
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 10% 10% 0% 10%;
  color: #1A1A1A;
  text-align: justify;
  font-family: B52;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 75px;
}
html .wraper .header .dossier .contact_ul, body .wraper .header .dossier .contact_ul {
  position: absolute;
  top: 25%;
  left: 0%;
  padding: 10% 10% 0% 10%;
  width: 100%;
  height: 743px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html .wraper .header .dossier .contact_ul .contact_li, body .wraper .header .dossier .contact_ul .contact_li {
  display: flex;
  align-items: center;
}
html .wraper .header .dossier .contact_ul .contact_li .contact_github, body .wraper .header .dossier .contact_ul .contact_li .contact_github {
  fill: #1A1A1A;
}
html .wraper .header .dossier .contact_ul .contact_li .contact_github:hover, body .wraper .header .dossier .contact_ul .contact_li .contact_github:hover {
  filter: drop-shadow(0px 0px 15px #d506ff);
  transition: 0.2s;
}
html .wraper .header .dossier .contact_ul .contact_li .contact_gmail, body .wraper .header .dossier .contact_ul .contact_li .contact_gmail {
  fill: #1A1A1A;
}
html .wraper .header .dossier .contact_ul .contact_li .contact_gmail:hover, body .wraper .header .dossier .contact_ul .contact_li .contact_gmail:hover {
  filter: drop-shadow(0px 0px 15px #f72f2f);
  transition: 0.2s;
}
html .wraper .header .dossier .contact_ul .contact_li .contact_telegram, body .wraper .header .dossier .contact_ul .contact_li .contact_telegram {
  fill: #1A1A1A;
}
html .wraper .header .dossier .contact_ul .contact_li .contact_telegram:hover, body .wraper .header .dossier .contact_ul .contact_li .contact_telegram:hover {
  filter: drop-shadow(0px 0px 15px #0d89fd);
  transition: 0.2s;
}
html .wraper .header .dossier .contact_ul .contact_li .contact_whatsapp, body .wraper .header .dossier .contact_ul .contact_li .contact_whatsapp {
  fill: #1A1A1A;
}
html .wraper .header .dossier .contact_ul .contact_li .contact_whatsapp:hover, body .wraper .header .dossier .contact_ul .contact_li .contact_whatsapp:hover {
  filter: drop-shadow(0px 0px 15px #0acf1b);
  transition: 0.2s;
}
html .wraper .header .dossier .contact_ul .contact_li .contact_linkedin, body .wraper .header .dossier .contact_ul .contact_li .contact_linkedin {
  fill: #1A1A1A;
}
html .wraper .header .dossier .contact_ul .contact_li .contact_linkedin:hover, body .wraper .header .dossier .contact_ul .contact_li .contact_linkedin:hover {
  filter: drop-shadow(0px 0px 15px #068fff);
  transition: 0.2s;
}
html .wraper .header .dossier .contact_ul .contact_li .link, body .wraper .header .dossier .contact_ul .contact_li .link {
  margin-left: 5%;
  color: #1A1A1A;
  font-family: B52;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  list-style-type: none;
  color: #1A1A1A;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 4px;
  transition: background-size 0.2s;
}
html .wraper .header .dossier .contact_ul .contact_li .link:hover, body .wraper .header .dossier .contact_ul .contact_li .link:hover {
  background-size: 100% 4px;
  color: #1A1A1A;
  font-size: 36px;
  transition: 0.2s;
}

.footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
  max-width: 1920px;
  height: 299px;
  background: rgba(192, 192, 192, 0.8);
  display: grid;
  grid-template-columns: 76px 91px 76px 92px 94px;
  grid-template-rows: 95px 34px;
  gap: 58px 71px;
  align-content: center;
  justify-content: center;
}
.footer .icon {
  align-self: center;
}
.footer .icon .footer_github {
  fill: #1A1A1A;
}
.footer .icon .footer_github:hover {
  filter: drop-shadow(0px 0px 15px #d506ff);
  width: 95%;
  transition: 0.2s;
}
.footer .icon .footer_gmail {
  fill: #1A1A1A;
}
.footer .icon .footer_gmail:hover {
  filter: drop-shadow(0px 0px 15px #f72f2f);
  width: 95%;
  transition: 0.2s;
}
.footer .icon .footer_telegram {
  fill: #1A1A1A;
}
.footer .icon .footer_telegram:hover {
  filter: drop-shadow(0px 0px 15px #0d89fd);
  width: 95%;
  transition: 0.2s;
}
.footer .icon .footer_whatsapp {
  fill: #1A1A1A;
}
.footer .icon .footer_whatsapp:hover {
  filter: drop-shadow(0px 0px 15px #0acf1b);
  width: 95%;
  transition: 0.2s;
}
.footer .icon .footer_linkedin {
  fill: #1A1A1A;
}
.footer .icon .footer_linkedin:hover {
  filter: drop-shadow(0px 0px 15px #068fff);
  width: 95%;
  transition: 0.2s;
}
.footer .copy {
  grid-column: 1 / -1;
  justify-self: center;
  color: #1A1A1A;
  text-align: center;
  font-family: B52;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: end;
}

@media (min-width: 1920px) {
  html, body {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1600px) {
  html .wraper, body .wraper {
    height: 100%;
  }
  html .wraper .header, body .wraper .header {
    height: 85%;
  }
  html .wraper .header .nav, body .wraper .header .nav {
    padding-top: 3%;
  }
  html .wraper .header .nav .btn, body .wraper .header .nav .btn {
    width: 170px;
    font-size: 28px;
  }
  html .wraper .header .nav .portfolio_btn, body .wraper .header .nav .portfolio_btn {
    top: 18%;
  }
  html .wraper .header .nav .contacts_btn, body .wraper .header .nav .contacts_btn {
    top: 32.5%;
  }
  html .wraper .header .dossier, body .wraper .header .dossier {
    height: 100%;
  }
  html .wraper .header .dossier .contact_ul .contact_li, body .wraper .header .dossier .contact_ul .contact_li {
    margin-top: 5%;
  }
  html .wraper .header .dossier .contact_ul .contact_li .link, body .wraper .header .dossier .contact_ul .contact_li .link {
    font-size: 29px;
  }
  html .wraper .header .dossier .contact_ul .contact_li .link:hover, body .wraper .header .dossier .contact_ul .contact_li .link:hover {
    font-size: 29px;
  }
  html .wraper .header .dossier .contact_ul .github, body .wraper .header .dossier .contact_ul .github {
    margin-top: 0%;
  }

  .footer .icon {
    width: 70%;
    margin-left: 25%;
  }
}
@media (max-width: 1250px) {
  html .wraper .header .dossier, body .wraper .header .dossier {
    height: 96%;
  }
  html .wraper .header .dossier .contact_span, body .wraper .header .dossier .contact_span {
    font-size: 29px;
  }
  html .wraper .header .dossier .contact_ul .contact_li a svg, body .wraper .header .dossier .contact_ul .contact_li a svg {
    width: 70%;
  }
  html .wraper .header .dossier .contact_ul .contact_li .link, body .wraper .header .dossier .contact_ul .contact_li .link {
    font-size: 18px;
    background-size: 0% 2px;
  }
  html .wraper .header .dossier .contact_ul .contact_li .link:hover, body .wraper .header .dossier .contact_ul .contact_li .link:hover {
    font-size: 18px;
    background-size: 100% 2px;
  }

  .footer {
    height: 350px;
    gap: 58px 40px;
  }
  .footer .icon {
    width: 60%;
    margin-left: 30%;
  }
  .footer .icon:hover {
    width: 59%;
  }
  .footer .copy {
    font-size: 19px;
  }
}
@media (max-width: 835px) {
  html, body {
    height: 1245px;
  }
  html .wraper .header .nav .btn, body .wraper .header .nav .btn {
    padding-top: 25%;
    width: 140px;
    font-size: 21px;
    border: 1px solid #1A1A1A;
  }
  html .wraper .header .nav .portfolio_btn, body .wraper .header .nav .portfolio_btn {
    top: 13.5%;
  }
  html .wraper .header .nav .contacts_btn, body .wraper .header .nav .contacts_btn {
    top: 23.5%;
  }
  html .wraper .header .dossier, body .wraper .header .dossier {
    height: 95%;
    border: 1px solid #1A1A1A;
  }
  html .wraper .header .dossier .contact_span, body .wraper .header .dossier .contact_span {
    font-size: 20px;
    line-height: 55px;
  }
  html .wraper .header .dossier .contact_ul, body .wraper .header .dossier .contact_ul {
    padding-top: 10%;
    top: 31%;
    justify-content: start;
  }
  html .wraper .header .dossier .contact_ul .contact_li, body .wraper .header .dossier .contact_ul .contact_li {
    margin-top: 5%;
  }
  html .wraper .header .dossier .contact_ul .contact_li a svg, body .wraper .header .dossier .contact_ul .contact_li a svg {
    width: 44%;
    height: 44%;
  }
  html .wraper .header .dossier .contact_ul .contact_li .link, body .wraper .header .dossier .contact_ul .contact_li .link {
    margin-left: 0%;
    font-size: 14px;
    background-size: 0% 2px;
  }
  html .wraper .header .dossier .contact_ul .contact_li .link:hover, body .wraper .header .dossier .contact_ul .contact_li .link:hover {
    font-size: 14px;
    background-size: 100% 2px;
  }

  .footer {
    height: 200px;
    gap: 58px 40px;
  }
  .footer .icon {
    width: 60%;
    margin-left: 25%;
  }
  .footer .icon:hover {
    width: 59%;
  }
  .footer .copy {
    font-size: 19px;
  }
}
@media (max-width: 630px) {
  html, body {
    height: 1006px;
  }
  html .wraper .header, body .wraper .header {
    height: 91%;
    padding-left: 1%;
  }
  html .wraper .header .nav, body .wraper .header .nav {
    max-width: 45px;
  }
  html .wraper .header .nav .btn, body .wraper .header .nav .btn {
    padding-top: 13%;
    font-size: 21px;
    height: 40px;
    top: 6%;
    left: 20%;
  }
  html .wraper .header .nav .portfolio_btn, body .wraper .header .nav .portfolio_btn {
    top: 18.5%;
  }
  html .wraper .header .nav .contacts_btn, body .wraper .header .nav .contacts_btn {
    top: 31%;
  }
  html .wraper .header .dossier, body .wraper .header .dossier {
    height: 91%;
  }
  html .wraper .header .dossier .contact_span, body .wraper .header .dossier .contact_span {
    font-size: 15px;
    line-height: 38px;
  }
  html .wraper .header .dossier .contact_ul, body .wraper .header .dossier .contact_ul {
    padding-top: 10%;
    top: 31%;
    justify-content: start;
  }
  html .wraper .header .dossier .contact_ul .contact_li, body .wraper .header .dossier .contact_ul .contact_li {
    margin-top: 5%;
  }
  html .wraper .header .dossier .contact_ul .contact_li a svg, body .wraper .header .dossier .contact_ul .contact_li a svg {
    width: 44%;
    height: 44%;
  }
  html .wraper .header .dossier .contact_ul .contact_li .link, body .wraper .header .dossier .contact_ul .contact_li .link {
    margin-left: 0%;
    font-size: 11px;
    background-size: 0% 0px;
  }
  html .wraper .header .dossier .contact_ul .contact_li .link:hover, body .wraper .header .dossier .contact_ul .contact_li .link:hover {
    font-size: 11px;
    background-size: 0% 0px;
  }

  .footer {
    height: 132px;
    gap: 22px 0px;
  }
  .footer .icon {
    width: 38%;
    margin-left: 38%;
  }
  .footer .icon:hover {
    width: 38%;
  }
  .footer .copy {
    font-size: 13px;
    position: relative;
    bottom: 50%;
  }
}
@media (max-width: 500px) {
  html, body {
    height: 738px;
  }
  html .wraper .header, body .wraper .header {
    height: 95%;
  }
  html .wraper .header .nav, body .wraper .header .nav {
    max-width: 37px;
  }
  html .wraper .header .dossier, body .wraper .header .dossier {
    height: 91%;
  }
  html .wraper .header .dossier .contact_span, body .wraper .header .dossier .contact_span {
    font-size: 11px;
    line-height: 35px;
  }
  html .wraper .header .dossier .contact_ul, body .wraper .header .dossier .contact_ul {
    height: 50%;
    padding-top: 20%;
  }
  html .wraper .header .dossier .contact_ul .contact_li a svg, body .wraper .header .dossier .contact_ul .contact_li a svg {
    width: 30%;
    height: 30%;
  }
  html .wraper .header .dossier .contact_ul .contact_li .link, body .wraper .header .dossier .contact_ul .contact_li .link {
    margin-left: -5%;
    font-size: 10px;
    width: 65%;
  }
  html .wraper .header .dossier .contact_ul .contact_li .link:hover, body .wraper .header .dossier .contact_ul .contact_li .link:hover {
    font-size: 10px;
    background-size: 0% 0px;
  }

  .footer {
    grid-template-columns: 50px 50px 50px 56px 52px;
    height: 77px;
  }
  .footer .icon {
    width: 30%;
    height: 30%;
    position: relative;
    top: 29%;
  }
  .footer .icon:hover {
    width: 30%;
  }
  .footer .copy {
    font-size: 9px;
    bottom: 133%;
  }
}
